<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>GroupName</key>
		<string>车险客户列表</string>
		<key>List</key>
		<array>
			<dict>
				<key>title</key>
				<string>待核保</string>
				<key>iconName</key>
				<string>待核保</string>
				<key>url</key>
				<string>XCUserUnderWritingViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>已核保代缴费</string>
				<key>iconName</key>
				<string>已核保代缴费</string>
				<key>url</key>
				<string>XCUserWaitingToPayingViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>已缴费待打单</string>
				<key>iconName</key>
				<string>已缴费待打单</string>
				<key>url</key>
				<string>XCUserWaitingToWriteListViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>财务审核中</string>
				<key>iconName</key>
				<string>财务审核中</string>
				<key>url</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>配送</string>
				<key>iconName</key>
				<string>配送</string>
				<key>url</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>退单</string>
				<key>iconName</key>
				<string>退单</string>
				<key>url</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>续保列表</string>
				<key>iconName</key>
				<string>续保列表</string>
				<key>url</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>我的客户</string>
				<key>iconName</key>
				<string>我的客户</string>
				<key>url</key>
				<string>XCCustomerViewController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>GroupName</key>
		<string>车务客户列表</string>
		<key>List</key>
		<array>
			<dict>
				<key>title</key>
				<string>年审</string>
				<key>iconName</key>
				<string>年审</string>
				<key>url</key>
				<string>XCUserAnnualReviewViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>违章</string>
				<key>iconName</key>
				<string>违章</string>
				<key>url</key>
				<string>XCUserViolationViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>维修</string>
				<key>iconName</key>
				<string>维修</string>
				<key>url</key>
				<string>XCUserRepairViewController</string>
			</dict>
			<dict/>
		</array>
	</dict>
	<dict>
		<key>GroupName</key>
		<string>案件跟进</string>
		<key>List</key>
		<array>
			<dict>
				<key>title</key>
				<string>人伤案件</string>
				<key>iconName</key>
				<string>人伤</string>
				<key>url</key>
				<string>XCUserInjuryCaseViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>无责案件</string>
				<key>iconName</key>
				<string>无责</string>
				<key>url</key>
				<string>XCUserNoResponsibilityCaseViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>特殊案件</string>
				<key>iconName</key>
				<string>特殊</string>
				<key>url</key>
				<string>XCUserParticularCaseViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>代垫付案件</string>
				<key>iconName</key>
				<string>代垫付</string>
				<key>url</key>
				<string>XCUserBePaymentCaseViewController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>GroupName</key>
		<string>门店专用</string>
		<key>List</key>
		<array>
			<dict>
				<key>title</key>
				<string>门店</string>
				<key>iconName</key>
				<string>门店</string>
				<key>url</key>
				<string>XCShopViewController</string>
			</dict>
			<dict/>
			<dict/>
			<dict/>
		</array>
	</dict>
</array>
</plist>
